@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Home Slider Desing */
.sliderhome {
    position: relative;
    width: 100%;
    height: 98vh; 
    overflow: hidden;
    background-color: #000;
    z-index: 1;
}
.sliderhome .slider {
    position: relative;
    width: 100%;
    height: 100%;
}
.sliderhome .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}
.sliderhome .slider .slide img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}  
.sliderhome .slider .slide.active {
    opacity: 1;
}
.sliderhome .slider .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.436); 
    z-index: 1;
}
.sliderhome .slider .slide .slider-text {
    position: absolute;
    top: 42%;
    left: 12%;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
    font-weight: 600;
}
.sliderhome .slider .slide .slider-text h2 {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sliderhome .slider .slide .slider-text p {
    margin-bottom: 24px;
    font-size: 20px;
}
.sliderhome .slider .slide .slider-text a {
    width: 122px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    margin-left: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.sliderhome .slider .slide .slider-text a:hover{
    border: 1px solid white;
}
.sliderhome .slider .dots {
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align: center;
    z-index: 3;
}
.sliderhome .slider .dots .dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 16px;
    background: rgba(255, 255, 255, 0.459);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sliderhome .slider .dots .dot:hover {
    transform: scale(1.3);
    background: rgba(255, 255, 255, 0.679);
}
.sliderhome .slider .dots .dot.active {
    transform: scale(1.6);
    background-color: #5e9ee3e9;
    border: 2px solid white;
}
  

/* Advantages Desing */
.advantages{
    width: 100%;
    height: auto;
    padding: 22px 4%;
    background-color: #5e9fe3;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.advantages .adv-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 18px;
    transition: all ease-in-out 0.3s;
    padding: 26px 0 15px;
    width: 21%;
    height: auto;
}
.advantages .adv-line{
    width: 1px;
    height: 140px;
    background-color: #fff;
}
.advantages .adv-card:hover{
    background-color: #2084e1;
}
.advantages .adv-card img{
    width: 100px;
    height: 100px;
}
.advantages .adv-card p {
    position: relative;
    
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: black;
    font-size: 13px;
    overflow: hidden;
}
.advantages .adv-card p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transition: width 0.3s ease-in-out;
}
.advantages .adv-card:hover p::after {
    width: 100%;
}



/* Our Project Desing */
.our-projects{
    height: auto;
    margin: 60px 3% 90px 3%;
    font-family: "Poppins", sans-serif;
    position: relative;
    overflow: hidden;
}
.our-projects svg{
    position: absolute;
    height: auto;
}
.our-projects .proj-circle{
    width: 1600px;
    top: 6%;
    left: 5%;
}
.our-projects .proj-line1{
    width: 600px;
    top: -12%;
    right: -15%;
}
.our-projects .proj-line2{
    width: 800px;
    top: -25%;
    right: -22%;
}
.our-projects .project-container {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 46px;
  }

  .our-projects .project-container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    z-index: 100;
    letter-spacing: 0;
    line-height: 1.25em;
  }

  .our-projects .project-container .project-slider-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }

  .our-projects .project-container .project-slider-section .project-slider {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .our-projects .project-container .project-slider-section .project-slider .project-card {
    display: flex;
    z-index: 5;
    width: 400px;
    height: 350px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    position: relative;
  }

  .our-projects .project-container .project-slider-section .project-slider .project-card .proj-opacity {
    width: 100%;
    height: 100%;
    background-color: #0000003e;
    padding: 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .our-projects .project-container .project-slider-section .project-slider-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 60px;
    gap: 30px;
  }

  .our-projects .project-container .project-slider-section .project-slider-buttons .proj-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #5e9fe3;
  }

  .our-projects .project-container .project-slider-section .project-slider-buttons .proj-button i {
    font-weight: 900;
    font-size: 24px;
    color: white;
  }

/* Join Us Desing */
.joinus{
    display: flex;
    flex-direction: column;
    margin: 46px 3% 23px;
    font-family: "Poppins", sans-serif;
    position: relative;
    overflow: hidden;
}
.joinus .join-info{
    display: flex;
    width: 100%;
    height: auto;
}
.joinus .join-info .info-text-L{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2px;
    cursor: default;
    z-index: 5;
}
.joinus .join-info .info-text-L p{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #666;
    font-size: 13px;
    width: 100%;
}
.joinus .join-info .info-text-L h2{
    width: 100%;
    font-size: 40px;
    font-weight: 600;
}
.joinus .join-info .info-text-R{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    cursor: default;
}
.joinus .info1{
    position: absolute;
    width: 40%;
    top: -13%;
    right: -9%;
    transform: rotate(315deg);

}
.joinus .info2{
    position: absolute;
    width: 50%;
    top: -25%;
    right: -16%;
    transform: rotate(320deg);
}
.joinus .join-info .info-text-R h2{
    width: 100%;
    font-size: 31px;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 35px;
    display: flex;
    z-index: 5;
}
.joinus .join-info .info-text-R .position{
    color: #666;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    display: flex;
    z-index: 5;
}
.joinus .join-info .info-text-R .fullname{
    font-size: 18px;
    letter-spacing: 0.25px;
    margin-bottom: 120px;
    display: flex;
    z-index: 5;
}
.joinus .join-sec{
    width: 100%;
    height: 225px;
    background-color: #4799e5;
}
.joinus .join-sec img{
    width: 72%;
    height: 72%;
    object-fit: contain;
    position: absolute;
    top: 23%;
    left: -16%;
}
.joinus .join-sec .progress-circle{
    position: absolute;
    top: 6%;
    left: 1%;
    width: 120%;
}
.join-button{
    margin: 0 19% 60px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
.join-button a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in 0.3s;
}
.join-button a:hover{
    background-color: #4b9ce3;
}
.join-button .j-line{
    width: 2px;
    height: 90%;
    background-color: black;
}


/* Statistic Desing */
.statistic {
    background-color: #4799e5;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.statistic .statistic-content {
    width: 100%;
    padding: 96px 10% 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 4;
}
.statistic .svg-key1 {
    position: absolute;
    top: -90%;
    left: 28%;
    z-index: 1;
    pointer-events: none;
    transform: rotate(338deg) scale(0.5, 0.6);
}
.statistic .svg-key2 {
    position: absolute;
    top: -120%;
    left: -20%;
    z-index: 1;
    pointer-events: none;
    transform: rotate(65deg);
}
.statistic .statistic-content .statistic-left{
    display: flex;
    flex-direction: column;
    gap: 46px;
    width: 30%;
}
.statistic .statistic-content .statistic-left h1{
    cursor: default;
    line-height: 36px;
    font-weight: 600;
    font-size: 24px;
    width: 98%;
    font-family: "Poppins", sans-serif;
}
.statistic .statistic-content .statistic-left a {
    position: relative;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 26px 4%;   
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 2px;
    border-radius: 35px;
    border: 2px solid white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    transition: all 0.6s ease;
}
.statistic .statistic-content .statistic-left a:hover {
    color: white;
    border: 2px solid black;
}
.statistic .statistic-content .statistic-left a span {
    position: relative;
    z-index: 2;
}
.statistic .statistic-content .statistic-left a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: black;
    z-index: 1;
    transform: translateX(-50%);
    transition: width 0.3s ease;
    border-radius: 34px;
}
.statistic .statistic-content .statistic-left a:hover::before {
    width: 100%;
}
.statistic .statistic-content .statistic-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
    gap: 50px;
}
.statistic .statistic-content .statistic-right .stat-info{
    width: 40%;
    cursor: default;
    font-family: "Poppins", sans-serif;
}
.statistic .statistic-content .statistic-right .stat-info h2{
    font-size: 64px;
    line-height: 70px;
    font-weight: 400;
    width: 100%;
}
.statistic .statistic-content .statistic-right .stat-info p{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    margin-left: 6px;
}







