.railway{   
    width: 100%;
    height: 100%;
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
    /* max-width: 580px; */

}
.railway img{
    margin-bottom: 6px;
    margin-top: 4rem;
}

.railway p{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 1.5556em;
    text-align: center;
    color: #666;
    max-width: 800px;
}



.news-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
    margin-bottom: 3rem;
  }
  
  .news-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
  }
  
  .news-card {
    text-align: center;
  }
  
  .news-card h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .news-card button {
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 20px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .news-card button:hover {
    background: black;
    color: white;
  }






  .statistic {
    background-color: #4799e5;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.statistic .statistic-content {
    width: 100%;
    padding: 96px 10% 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 4;
}
.statistic .svg-key1 {
    position: absolute;
    top: -90%;
    left: 28%;
    z-index: 1;
    pointer-events: none;
    transform: rotate(338deg) scale(0.5, 0.6);
}
.statistic .svg-key2 {
    position: absolute;
    top: -120%;
    left: -20%;
    z-index: 1;
    pointer-events: none;
    transform: rotate(65deg);
}
.statistic .statistic-content .statistic-left{
    display: flex;
    flex-direction: column;
    gap: 46px;
    width: 30%;
}
.statistic .statistic-content .statistic-left h1{
    cursor: default;
    line-height: 36px;
    font-weight: 600;
    font-size: 24px;
    width: 98%;
    font-family: "Poppins", sans-serif;
}
.statistic .statistic-content .statistic-left a {
    position: relative;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 26px 4%;   
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 2px;
    border-radius: 35px;
    border: 2px solid white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    transition: all 0.6s ease;
}
.statistic .statistic-content .statistic-left a:hover {
    color: white;
    border: 2px solid black;
}
.statistic .statistic-content .statistic-left a span {
    position: relative;
    z-index: 2;
}
.statistic .statistic-content .statistic-left a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: black;
    z-index: 1;
    transform: translateX(-50%);
    transition: width 0.3s ease;
    border-radius: 34px;
}
.statistic .statistic-content .statistic-left a:hover::before {
    width: 100%;
}
.statistic .statistic-content .statistic-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
    gap: 50px;
}
.statistic .statistic-content .statistic-right .stat-info{
    width: 40%;
    cursor: default;
    font-family: "Poppins", sans-serif;
}
.statistic .statistic-content .statistic-right .stat-info h2{
    font-size: 64px;
    line-height: 70px;
    font-weight: 400;
    width: 100%;
}
.statistic .statistic-content .statistic-right .stat-info p{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    margin-left: 6px;
}

  





